@using ePizzaHub.UI.Models.ViewModels
@model ReceiptViewModel;

<h1>Receipt </h1>
<hr/>

<div>
    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.TransactionId)
        </dt>
    </div>
    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
    </div>
    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
    </div>
    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>
    </div>
    <div class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
    </div>
</div>